*{
    outline: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/back.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.9;
}


p{
    font-size: -webkit-xxx-large;
    font-weight: 600;
    margin-bottom: 37px;
}

button{
        margin: 20px;
        padding: 20px 40px;
        border: none;
        border-radius: 28px;
        font-size: xx-large;
        font-weight: bold;
        color: black;
        background-image: linear-gradient(45deg, #00bcd4, transparent);
    }

button:hover{
    padding: 25px 60px;
}

h1{
    text-shadow: 6px 5px cadetblue;
    -webkit-text-stroke-width: medium;
    font-size: -webkit-xxx-large;
    font-weight: 600;
    font-family: cursive;
    color: black;
}